<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>This is where I will be keeping record of what I have learned about development, technology, and also lessons that have helped me retain the things I've studied.</p>
  </div>

  <%= source_helper("alert alert-info blog-sidebar-source") %>

  <div class="sidebar-module">
    <h4>Topics</h4>
    <% @side_bar_topics.each do |topic| %>
    <p><%= link_to topic.title, topic_path(topic) %></p>
    <% end %>
  </div>

  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://github.com/RellikDragon"><%= fa_icon "github" %></a></li>
      <li><a href="https://www.instagram.com/rellikdragon/"><%= fa_icon "instagram" %></a></li>
      <li><a href="https://www.facebook.com/jared.dunn.714"><%= fa_icon "facebook" %></a></li>
      <li><a href="https://twitter.com/rellikdragon"><%= fa_icon "twitter" %></a></li>
    </ol>
  </div>
</div>